# backend/.env
DB_HOST=mysql-devfree.alwaysdata.net
DB_PORT=3306
DB_USER=devfree
DB_PASSWORD=Hw3Bk57baT!P_pc
DB_NAME=devfree_neonpulse_salon
PORT=3000
NODE_ENV=development
MIN_INTERVAL_MINUTES=30
FRONTEND_URL=http://localhost:5173